@use "../abstracts" as *;

.popup {
	z-index: 1000;
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
	background-color: hsla(0deg, 0%, 0%, 0.5);
	transition: opacity .3s ease;
	animation: popup .3s ease;

	&.popup-hidden {
		opacity: 0;
	}
	
	.popup-content {
		padding: 2em;
		display: flex;
		flex-direction: column;
		align-items: center;
		gap: 1.25em;
		color: hsl(var(--primary-1));
		text-align: center;
		background-color: hsl(var(--secondary-1));
		border-radius: 7px;
		@include box-shadow;
		animation: popup-content .3s ease forwards;
		
		.popup-title {
			font-size: 2.5em;
			font-weight: bold;
		}
	
		.popup-button {
			padding: 0.5em 1em;
			color: white;
			background-color: hsl(48deg, 89%, 50%);
			border-radius: 7px;
		}
	}

}

@keyframes popup {
	0% {
		opacity: 0;
	}
	100% {
		opacity: 1;
	}
}

@keyframes popup-content {
	0% {
		scale: 0;
	}
	100% {
		scale: 1;
	}
}